body {
    background-color: lightblue;
}
#title,
.subtitle,
.post-title {
    color: rgb(0, 0, 0);
}
.subtitle {
    font-size: 15px;
    font-style: italic;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post-title {
    background: #fff;
    padding: 10px;
}

article {
    background-color: #ffffff;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}
