* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    /* Adicione esta linha abaixo */
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
}

.header .list-items {
    display: flex;
}

.list-items li a {
    margin-right: 10px;
    color: white;
}
.header .menu {
    justify-content: space-between;
    margin-left: 20px;
}
